*.iml
.gradle
/local.interests
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.firebaserc
.idea/assetWizardSettings.xml
.idea/caches/
app/app-release.apk
app/release/
firebase.json
local.properties

